.site-footer {
  background: @karaoke_background_color;
  color: @karaoke_color;
  font-size: @karaoke_font_size;
  padding-top: 50px;
  .footer {
      .col-md-4 {
      .widget-title {
        font-size: @karaoke_font_size_title;
        text-transform: uppercase;
      }
      a {
        color: @karaoke_color;
        text-transform: uppercase;
        font-weight: 700;
      }
      ul {
        margin-left: 0;
        padding-left: 0;
        li {
          list-style-type: none;
          padding-bottom: 10px;
          .fa {
            font-size: 24px;
            padding-right: 5px;
          }
        }
      }
      .wpcf7-form {
        .wpcf7-email {
          width: 70%;
          float: left;
          margin-right: 5px;
          height: 30px;
          border: none;
        }
        .wpcf7-submit {
          height: 30px;
          background: #811000;
          border: none;
          box-shadow: none;
          color: #fff;
          padding-bottom: 10px;
        }
      }
    }
      border-bottom: 1px solid @karaoke_color;
  }
  .copyright {
      padding-top: 30px;
      text-align: center;
  }
}