#room {
  .section-room {
      .tab-content {
          .list-images {
              .single {
                  .single-pic {
                      position: relative;
                      overflow: hidden;
                      &:hover {
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        cursor: pointer;
                      }
                      .image {
                          img {
                              width: 100%;
                              height: auto;
                          }
                      }
                      .zoom {
                          position: absolute;
                          top:-56px;
                          left: 43%;
                          padding: 14px 16.4px;
                          background: #212121;
                          border-radius: 50%;
                          -webkit-transition: top 0.8s; /* For Safari 3.1 to 6.0 */
                          transition: top 0.8s;
                          a {
                              color: #fff;
                              i {
                                font-size: 24px;
                              }
                          }
                      }
                          .info {
                              position: absolute;
                              bottom: 0;
                              width: 100%;
                              -webkit-transition: height 0.8s; /* For Safari 3.1 to 6.0 */
                              transition: height 0.8s;
                              height: 0;
                              .info-2 {
                                  background-color: #212121;
                                  color: #fff;
                                  .name {
                                      padding: 6px 0;
                                      text-align: center;
                                  }
                                  .capacity {
                                      text-align: center;
                                      padding-top: 5px;
                                      padding-bottom: 10px;
                                  }
                              }
                      }
                  }
              }
          }
      }
  }
}