.site-footer {
  background: #6a614f;
  color: #9d9686;
  font-size: 14px;
  padding-top: 50px;
}
.site-footer .footer {
  border-bottom: 1px solid #9d9686;
}
.site-footer .footer .col-md-4 .widget-title {
  font-size: 22px;
  text-transform: uppercase;
}
.site-footer .footer .col-md-4 a {
  color: #9d9686;
  text-transform: uppercase;
  font-weight: 700;
}
.site-footer .footer .col-md-4 ul {
  margin-left: 0;
  padding-left: 0;
}
.site-footer .footer .col-md-4 ul li {
  list-style-type: none;
  padding-bottom: 10px;
}
.site-footer .footer .col-md-4 ul li .fa {
  font-size: 24px;
  padding-right: 5px;
}
.site-footer .footer .col-md-4 .wpcf7-form .wpcf7-email {
  width: 70%;
  float: left;
  margin-right: 5px;
  height: 30px;
  border: none;
}
.site-footer .footer .col-md-4 .wpcf7-form .wpcf7-submit {
  height: 30px;
  background: #811000;
  border: none;
  box-shadow: none;
  color: #fff;
  padding-bottom: 10px;
}
.site-footer .copyright {
  padding-top: 30px;
  text-align: center;
}
.widget-area section {
  background: #811000;
}
.widget-area section .widget-title {
  padding: 15px 10px;
  font-size: 18px;
  border-top: 3px solid #811000;
  font-weight: 700;
  color: #fff;
}
.widget-area section ul {
  margin-left: 0;
  padding-left: 10px;
}
.widget-area section ul li {
  list-style-type: none;
}
.widget-area section ul li a {
  font-size: 14px;
  color: #C1C1C1;
  line-height: 28px;
}
.widget-area .widget_recent_entries ul li {
  padding: 13px 0;
}
.widget-area .widget_recent_entries ul li:first-child {
  padding: 0;
}
.blog,
.blog-single {
  margin-top: -111px;
}
.site-main article {
  background: #811000;
  color: #C1C1C1;
}
.site-main article .entry-title {
  font-size: 29px;
  padding: 0 15px;
}
.site-main article .entry-title a {
  color: #f80;
  font-weight: normal;
}
.site-main article .entry-title a:hover {
  text-decoration: none;
}
.site-main article .entry-content {
  padding-bottom: 20px;
}
.site-main article .entry-footer {
  padding: 20px 15px;
  min-height: 60px;
}
.site-main article .entry-footer .left .cat-links {
  padding-right: 5px;
}
.site-main article .entry-footer .left .cat-links a {
  color: #C1C1C1;
  font-size: 13px;
}
.site-main article .entry-footer .left .cat-links:before {
  font-family: FontAwesome;
  content: "\f07c";
  padding-right: 3px;
}
.site-main article .entry-footer .left .tags-links {
  padding-right: 5px;
}
.site-main article .entry-footer .left .tags-links a {
  color: #C1C1C1;
  font-size: 13px;
}
.site-main article .entry-footer .left .tags-links:before {
  font-family: FontAwesome;
  content: "\f02c";
  padding-right: 3px;
}
.site-main article .entry-footer .left .comments-link a {
  color: #C1C1C1;
  font-size: 13px;
}
.site-main article .entry-footer .left .comments-link:before {
  font-family: FontAwesome;
  content: "\f0e5";
  padding-right: 3px;
}
.site-main article .entry-footer .right {
  text-align: right;
}
.site-main article .entry-footer .right a {
  padding: 10px 15px;
  color: #fff;
}
.site-content {
  background: #efefef;
  padding-top: 40px;
}
@media (max-width: 991px) {
  .site-main article .entry-footer .right a {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .site-main article .entry-footer .left {
    padding-bottom: 15px;
  }
  .site-main article .entry-footer .right {
    text-align: left;
  }
  .blog,
  .blog-single {
    margin-top: 0;
  }
}
.single .site-content article .entry-content {
  margin: 0;
}
.single .site-content article .entry-content .thumbnail img {
  width: 100%;
  height: auto;
}
.single .site-content article .entry-content .title {
  padding: 15px 0;
}
.single .site-content article .entry-content .posted-on {
  padding-left: 15px;
  padding-bottom: 15px;
}
.single .site-content article .entry-content .posted-on .cat-links {
  padding-right: 5px;
}
.single .site-content article .entry-content .posted-on .cat-links a {
  color: #000;
  font-size: 13px;
}
.single .site-content article .entry-content .posted-on .cat-links:before {
  font-family: FontAwesome;
  content: "\f07c";
  padding-right: 3px;
}
.single .site-content article .entry-content .posted-on .tags-links {
  padding-right: 5px;
}
.single .site-content article .entry-content .posted-on .tags-links a {
  color: #000;
  font-size: 13px;
}
.single .site-content article .entry-content .posted-on .tags-links:before {
  font-family: FontAwesome;
  content: "\f02c";
  padding-right: 3px;
}
.single .site-content article .entry-content .posted-on .comments-link a {
  color: #000;
  font-size: 13px;
}
.single .site-content article .entry-content .posted-on .comments-link:before {
  font-family: FontAwesome;
  content: "\f0e5";
  padding-right: 3px;
}
.single .nav-links a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.single .nav-links a:hover {
  color: #811000;
}
/*--------menu----------*/
body {
  background-color: #811000 !important;
}
.site-content {
  background-color: #811000 !important;
}
header .container {
  width: 100%;
}
header .container .row {
  margin: 0 200px;
}
header .container .row .main-navigation .menu-menu-container ul .current-menu-item {
  background-image: url('/karaoke/wp-content/themes/karaoke/assets/images/menu-selected.gif');
  background-repeat: no-repeat;
  background-position: top center;
}
header .container .row .main-navigation .menu-menu-container ul .current-menu-item a {
  color: #ff8700;
}
header .container .row .main-navigation .menu-menu-container ul li {
  float: left;
  margin: 0 32px 0 0;
  padding: 33px 0 0;
}
header .container .row .main-navigation .menu-menu-container ul li a {
  color: white;
  font-weight: 500;
}
header .container .row .main-navigation .menu-menu-container ul li a:hover,
header .container .row .main-navigation .menu-menu-container ul li a:focus,
header .container .row .main-navigation .menu-menu-container ul li a:visited {
  text-decoration: none;
}
header .container .row .main-navigation .menu-menu-container ul li a:hover {
  color: #ff8700;
}
@media only screen and (max-width: 1316px) {
  .col-md-1 {
    display: none;
  }
  header .container .row {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 940px) {
  header .container .row .main-navigation .menu-menu-container ul li {
    margin: 0 20px 0 0;
    padding: 33px 0 0;
  }
  header .container .row .main-navigation .menu-menu-container ul li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 638px) {
  header .container .row .main-navigation .menu-menu-container ul li {
    padding: 14px 0 0 0;
  }
  header .container .row .main-navigation .menu-menu-container ul li a {
    font-size: 14px;
  }
}
@media only screen and (min-width: 638px) {
  .navbar-toggle {
    display: none;
  }
}
@media only screen and (max-width: 637px) {
  header .container .row .main-navigation {
    width: 100%;
  }
  header .container .row .main-navigation .menu-menu-container ul .current-menu-item {
    background: none;
  }
}
@media only screen and (max-width: 637px) and (min-width: 576px) {
  header .container .row .logo {
    width: 100%;
    padding-left: 18%;
  }
}
@media only screen and (max-width: 575px) and (min-width: 550px) {
  header .container .row .logo {
    padding-left: 15%;
  }
}
@media only screen and (max-width: 549px) and (min-width: 525px) {
  header .container .row .logo {
    padding-left: 13%;
  }
}
@media only screen and (max-width: 524px) and (min-width: 500px) {
  header .container .row .logo {
    padding-left: 11%;
  }
}
@media only screen and (max-width: 499px) and (min-width: 475px) {
  header .container .row .logo {
    padding-left: 9%;
  }
}
@media only screen and (max-width: 474px) and (min-width: 450px) {
  header .container .row .logo {
    padding-left: 7%;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-toggle {
    position: relative;
    padding: 9px 0;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
  }
  .navbar-toggle:focus,
  .navbar-toggle:hover {
    outline: none !important;
    box-shadow: none;
    border-color: transparent;
  }
  .navbar-toggle .icon-bar {
    background-color: white;
    display: block;
    margin-bottom: 3px;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  header .container .row .main-navigation .menu-menu-container ul li {
    padding: 20px 0 0;
  }
}
/*---------about---------*/
#about .row {
  margin: 0 100px;
}
#about .row .pagecontent {
  margin-bottom: 50px;
}
#about .row .pagecontent h1 {
  color: #f80;
}
#about .row .pagecontent p {
  clear: both;
  color: #C1C1C1;
  font-size: 14px;
  line-height: 28px;
  margin: 0 0 10px;
  text-align: justify;
  width: auto;
}
#about .row .pagecontent h3 {
  color: #FFF;
  font-size: 14px;
  line-height: 28px;
  margin: 33px 0 0;
  text-align: justify;
  text-transform: uppercase;
}
#about .row .pagecontent h4 {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  margin: 20px 0 14px;
  text-transform: none;
}
#about .row .pagecontent a {
  text-decoration: none;
}
#about .row .pagecontent a:hover {
  color: white;
}
#about .row .pagecontent td {
  color: #C1C1C1;
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
}
@media only screen and (max-width: 1316px) {
  #about {
    margin: 0;
  }
  #about .row {
    margin: 0;
  }
}
@media only screen and (max-width: 991px) {
  #about {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #about {
    width: 100%;
  }
  #about .row .pagecontent {
    margin-top: 0;
  }
}
/*-------menu-tab------*/
.menu-tab .single-menu {
  float: left;
  height: 130px;
  margin-right: -30px;
  margin-bottom: 50px;
}
.menu-tab .single-menu a {
  color: #fec284;
  display: block;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  text-align: center;
  text-shadow: -2px -2px 0 #65190e, 2px 2px 0 #65190e, -2px 2px 0 #65190e, 2px -2px 0 #65190e;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-tab .single-menu a:hover,
.menu-tab .single-menu a:focus,
.menu-tab .single-menu a:visited {
  text-decoration: none;
}
.menu-tab .single-menu a img:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 830px) {
  .menu-tab .single-menu {
    margin-bottom: 20px;
    margin-right: -17px;
  }
}
@media only screen and (max-width: 767px) {
  .menu-tab .single-menu {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 375px) {
  .menu-tab .single-menu {
    height: 100px;
  }
}
/*----gallery-----*/
#gallery .row {
  margin: 0 100px;
}
#gallery .row .section-gallery .single .fancybox .single-pic {
  height: 200px;
  width: 200px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
#wpadminbar {
  display: none;
}
@media only screen and (max-width: 1316px) {
  #gallery {
    width: 100%;
    margin: 0;
  }
  #gallery .row {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) {
  #gallery .row .section-gallery .single .fancybox .single-pic {
    background-position: center center;
  }
}
@media only screen and (max-width: 899px) {
  #gallery .row .section-gallery .single .fancybox .single-pic {
    height: 300px;
    width: auto;
  }
}
