.site-footer {
  background: #6a614f;
  color: #9d9686;
  font-size: 14px;
  padding-top: 50px;
}
.site-footer .footer {
  border-bottom: 1px solid #9d9686;
}
.site-footer .footer .col-md-4 .widget-title {
  font-size: 22px;
  text-transform: uppercase;
}
.site-footer .footer .col-md-4 a {
  color: #9d9686;
  text-transform: uppercase;
  font-weight: 700;
}
.site-footer .footer .col-md-4 ul {
  margin-left: 0;
  padding-left: 0;
}
.site-footer .footer .col-md-4 ul li {
  list-style-type: none;
  padding-bottom: 10px;
}
.site-footer .footer .col-md-4 ul li .fa {
  font-size: 24px;
  padding-right: 5px;
}
.site-footer .footer .col-md-4 .wpcf7-form .wpcf7-email {
  width: 70%;
  float: left;
  margin-right: 5px;
  height: 30px;
  border: none;
}
.site-footer .footer .col-md-4 .wpcf7-form .wpcf7-submit {
  height: 30px;
  background: #811000;
  border: none;
  box-shadow: none;
  color: #fff;
  padding-bottom: 10px;
}
.site-footer .copyright {
  padding-top: 30px;
  text-align: center;
}
.widget-area section .widget-title {
  padding: 15px 10px;
  text-transform: uppercase;
  font-family: arial;
  font-size: 14px;
  font-weight: 700;
  border-top: 3px solid #811000;
  background: #C1C1C1;
}
.widget-area section ul {
  margin-left: 0;
  padding-left: 10px;
}
.widget-area section ul li {
  list-style-type: none;
}
.widget-area section ul li a {
  font-size: 14px;
  color: #000;
  line-height: 28px;
}
.widget-area .widget_recent_entries ul li {
  padding: 13px 0;
}
.widget-area .widget_recent_entries ul li:first-child {
  padding: 0;
}
