/*----gallery-----*/
#gallery{
  .row{
    margin:0 100px;
    .section-gallery{
      .single{
        .fancybox{
          img{
            height:200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1316px) {
  #gallery{
    width:100%;
    margin: 0;
    .row{
      margin: 0;
    }
  }
}