/*----homepage----*/
#homepage{
  .row{
    margin:0 auto;
    padding-bottom: 100px;
  }
  .tab-1{
    margin-top: -40px;

    img{
      width:100%;
      height:100vh;
    }
  }
  .tab-about{
    height:auto;
    .section-title{
      margin-bottom: 82px;
      padding-top:100px;
      .page-title{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 0px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        letter-spacing: -1px;
        color:#333 !important;
      }
      .bordertitle{
        height: 43px;
        width: 100%;
        margin: 0px auto;
        overflow: hidden;
        position: relative;
        .borderleft{
          background-color: #ee232b;
          position: absolute;
          margin-left: 15px;
          bottom: 10px;
          left: 50%;
          display: block;
          height: 1px;
          width: 100px;
        }
        .bordericon{
          color: #ee232b;
          width: 30px;
          height: 19px;
          line-height: 19px;
          font-size: 19px;
          text-align: center;
          position: absolute;
          margin-left: -15px;
          bottom: 0;
          left: 50%;
          display: block;
        }
        .borderright{
          background-color: #ee232b;
          left: auto;
          right: 50%;
          margin-right: 15px;
          position: absolute;
          margin-left: 15px;
          bottom: 10px;
          display: block;
          height: 1px;
          width: 100px;
        }
      }
    }
    .main-page{
      .row{
        .picture{

        }
        .info{
          padding-left:50px;
          .welcome{
            padding-left:39px;
            margin-bottom:18px;
          }
          ul{
            margin:auto;
            li{

            }
          }
        }
      }
    }
  }
  .tab-3{
    background-position: 50% 19px;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    .container{
      .row{
        .icn-container{
          border-style: solid;
          padding: 20px;
          font-size: 28px;
          line-height: 28px;
          width: 28px;
          height: 28px;
          text-align: center;
          display: block;
          border-width: 0px;
          padding-bottom: 48px;
        }
        h2{
          font-size: 37px;
          font-weight: 300;
          letter-spacing: -2px;
          text-align: center;
          line-height: 100%;
          margin-bottom: 10px;
          font-family: 'Montserrat', sans-serif !important;
          color:white;
        }
        .spacer{
          display: block;
          clear: both;
          width: 100%;
        }
        h5{
          text-align: center;
          color:white;
        }
      }
    }
  }
  .albumanh{
    height:100vh;
    .section-title{
      margin-bottom: 82px;
      padding-top:100px;
      .page-title{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 0px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        letter-spacing: -1px;
        color:#333 !important;
      }
      .bordertitle{
        height: 43px;
        width: 100%;
        margin: 0px auto;
        overflow: hidden;
        position: relative;
        .borderleft{
          background-color: #ee232b;
          position: absolute;
          margin-left: 15px;
          bottom: 10px;
          left: 50%;
          display: block;
          height: 1px;
          width: 100px;
        }
        .bordericon{
          color: #ee232b;
          width: 30px;
          height: 19px;
          line-height: 19px;
          font-size: 19px;
          text-align: center;
          position: absolute;
          margin-left: -15px;
          bottom: 0;
          left: 50%;
          display: block;
        }
        .borderright{
          background-color: #ee232b;
          left: auto;
          right: 50%;
          margin-right: 15px;
          position: absolute;
          margin-left: 15px;
          bottom: 10px;
          display: block;
          height: 1px;
          width: 100px;
        }
      }
    }
    #album{
      .section-album{
        .single{
          padding:0;
          .fancybox{
            .single-pic{
              background-size:cover;
              display: block;
              border:solid 1px white;
              max-width: 100%;
              height: 337px;

            }
          }
        }
      }
    }

  }
}